<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item text-uppercase">
          <a class="nav-link" href="{% url 'storeapp:demo' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item text-uppercase">Hello{{user.username}}</li>
          <li class="nav-item text-uppercase">
              <a class="nav-link" href="logout">Logout</a></li>
          {% else %}
          <li class="nav-item text-uppercase">
              <a class="nav-link" href="register">Register</a></li>
          <li class="nav-item text-uppercase">
              <a class="nav-link" href="login">Login</a></li>
          {% endif %}
          <li class="nav-item dropdown {% if 'storeapp' in request.path %} active {% endif %}">
              <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Departments
              </a>
          <ul class="dropdown-menu text-uppercase">
              <li><a class="dropdown-item" href="https://simple.wikipedia.org/wiki/Commerce">Commerce</a></li>
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Physics">Physics</a></li>
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Chemistry">Chemistry</a></li>
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Computer_science#:~:text=Computer%20science%20is%20the%20study,implementation%20of%20hardware%20and%20software).">Computer science</a></li>
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Biology">Biology</a></li>
          </ul>
          </li>
      </ul>
    </div>
  </div>
</nav>